root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{es6,js,ejs}]
indent_size = 4

[{Gemfile*,Rakefile,Capfile}]
indent_size = 2

[*.rb]
indent_size = 2

[*.sass]
indent_size = 2

[*.jade]
indent_size = 2
